@import url('https://fonts.googleapis.com/css?family=Bellefair|Handlee|Homemade+Apple');


.jotform-form {
    padding : 60px 0;
}

.form-all {
    box-shadow : 0 4px 10px #050505 !important;
    border : none !important;
}

.form-header-group {
    border : none;
    margin-bottom : 15px;
    font-family: 'Handlee', cursive;
}

[data-type="control_textbox"] .form-textbox,
[data-type="control_fullname"] .form-textbox,
[data-type="control_email"] .form-textbox,
[data-type="control_textarea"] .form-textarea,
[data-type="control_dropdown"] .form-dropdown {
    width : 100% !important;
}

.form-textbox, .form-textarea, .form-dropdown {
    transition : all .5s ease-in-out;
    -webkit-transition : all .5s ease-in-out;
    -moz-transition : all .5s ease-in-out;
    box-shadow : none;
    outline : none;
    box-sizing : border-box;
    -webkit-box-sizing : border-box;
    padding : 6px 8px;
    border : none !important;
    font-family: 'Bellefair', serif;
}

.form-textbox:focus, .form-textarea:focus, .form-dropdown:focus {
    box-shadow : 0 0 8px #FFF !important;
    border : none !important;
}

[data-type="control_fullname"] .form-sub-label-container {
    width : 100%;
}

.form-input {
    width : 64% !important;
    font-family: 'Bellefair', serif;
    font-size:125%;
}

.form-label {
    width : 30% !important;
    font-family: 'Bellefair', serif;
    font-size:125%;
}

.form-submit-button {
    outline : none;
    background : #FFF !important;
    box-shadow : none !important;
    border : none !important;
    text-shadow : none;
    text-transform : uppercase;
    transition : all .5s ease-in-out;
    -webkit-transition : all .5s ease-in-out;
    -moz-transition : all .5s ease-in-out;
    font-family: 'Handlee', cursive;
}

.form-submit-button:hover {
    background : #FFF !important;
    box-shadow : 0 0 10px #FFF !important;
}

.form-line-error .form-error-message {
    color : #F00;
    background : #FFF;
}

.form-line-error {
    box-shadow : none !important;
}

.form-validation-error {
    background : red;
    box-shadow : none !important;
    border : none !important;
    color : #fff;
}

.form-address-city, .form-address-line, .form-address-postal, .form-address-state, .form-address-table, .form-address-table .form-sub-label-container, .form-address-table select, .form-input {
    width : 100%;
}

input[name$="[city]"],
input[name$="[postal]"] {
    width : 90%;
}

.form-line-column .form-label {
    width : 100% !important;
}

/*responsive credit card*/
#creditCardTable.form-address-table .form-textbox,
hr + .form-address-table .form-textbox,
#creditCardTable.form-address-table .form-dropdown,
hr + .form-address-table .form-dropdown {
    width : 100%;
    font-size : initial;
}

#creditCardTable.form-address-table tbody > tr:first-child + tr td:first-child span,
hr + .form-address-table tbody > tr:first-child + tr td:first-child span {
    margin : 0;
    padding-right : 6px;
    box-sizing : border-box;
    -webkit-box-sizing : border-box;
}

#creditCardTable.form-address-table tbody > tr:first-child + tr td:first-child + td span,
hr + .form-address-table tbody > tr:first-child + tr td:first-child + td span {
    margin : 0;
    padding-left : 6px;
    box-sizing : border-box;
    -webkit-box-sizing : border-box;
}

#creditCardTable.form-address-table tbody > tr:first-child + tr +tr td:first-child span,
hr + .form-address-table tbody > tr:first-child + tr +tr td:first-child span,
#creditCardTable.form-address-table tbody > tr:first-child + tr +tr+tr td:first-child span,
hr + .form-address-table tbody > tr:first-child + tr +tr+tr td:first-child span {
    margin : 0;
    padding-right : 6px;
    width : 50%;
    font-size : 0;
    float : left;
    box-sizing : border-box;
    -webkit-box-sizing : border-box;
}

#creditCardTable.form-address-table tbody > tr:first-child + tr +tr td:first-child span + span,
hr + .form-address-table tbody > tr:first-child + tr +tr td:first-child span + span,
#creditCardTable.form-address-table tbody > tr:first-child + tr +tr+tr td:first-child span + span,
hr + .form-address-table tbody > tr:first-child + tr +tr+tr td:first-child span + span {
    margin : 0;
    padding-right : 0;
    padding-left : 6px;
    width : 50%;
    box-sizing : border-box;
    -webkit-box-sizing : border-box;
}

.cc_ccv {
    width : 100% !important;
}

#creditCardTable.form-address-table .form-sub-label,
hr + .form-address-table .form-sub-label {
    font-size : 11px;
}

/*fix for braintree cc styling*/
[data-type="control_braintree"] .form-sub-label-container {
    width : 100% !important;
}

.braintree-hosted-fields {
    width : 100% !important;
    box-sizing : border-box;
    min-height : 24px;
}

/*cc fix city state, country */
#creditCardTable.form-address-table td[width="50%"]>span:first-child,
hr + .form-address-table td[width="50%"]>span:first-child {
    box-sizing : border-box;
    padding-right : 7px;
}

#creditCardTable.form-address-table td[width="50%"] + td >span:first-child,
hr + .form-address-table td[width="50%"] + td >span:first-child {
    box-sizing : border-box;
    padding-left : 7px;
}

#creditCardTable.form-address-table td[width="50%"] + td[width="50%"] >span:first-child,
hr + .form-address-table td[width="50%"] + td[width="50%"] >span:first-child {
    box-sizing : border-box;
    padding-right : 0;
}

.hover-product-item:hover {
    color : inherit !important;
}

.formFooter {
    display:none !important;
    
}