nav {
    z-index:2;
    position: fixed;
    width: 100%;
}

.topnav {
    background-color: #2C363F;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #ffff99;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.3em;
}

.topnav a:hover {
    background-color: #cc99ff;
    color: #ffff99;
}

.active {
    background-color: #cc99ff;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}