@import url('https://fonts.googleapis.com/css?family=Cookie|Crimson+Text');

.navbar a {
    color: grey;
    text-decoration: none;
    padding: 2%;
    font-size: 130%;
    color: #ffff99;
}

.navbar a:hover {
    color: #F7A4B9;
    text-decoration: none;
}

.navbar a:active {
    color: #ebc7eb;
}

.navbar {
    text-align: center;
    padding: 2%;
    top: 0;
    background-color: #2C363F;
    margin: 0%;
    position: fixed;
    z-index: 2;
    border-bottom: 7px solid #ffff99;
    font-family: 'Crimson Text', serif;
    width: 100%;
}

/* 
4) Style nav items -- inline, no bullet points, space between
*/

.nav-item {
    display: inline;
    list-style-type: none;
}


/* 
5) Hide the button for desktop
*/

.nav-toggle {
    display: none;
}


/* 
6) Add media query for mobile styles
*/

@media (max-width:450px) {
    /* 
7) Add mobile style for nav list -- items in a column
*/
    .nav-item {
        display: block;
    }
    /* 
8) Display the button on mobile
*/
    .nav-toggle {
        display: inline;
    }
    /* 
9) Add a class that hides the nav items on mobile. This is an additional class because we are going to use it to sometimes show the nav and sometimes hide it
*/
    .mobile-nav-hidden {
        display: none;
    }
}

.nav-toggle {
    background-color: #2C363F;
    color: #ffff99;
    width: 20%;
    height: 3em;
    border: none;
    font-size: 1.2em;
    width:100%;
    position: fixed;
}

}