@import url('https://fonts.googleapis.com/css?family=Cookie|Crimson+Text');

.construction {
  margin:auto;
  display:flex;
  justify-content:center;
  align-self:center;
}


h1 {
  text-align:justify;
  margin:auto;
  width:50%;
  font-family: 'Cookie', cursive;
  font-size:3em;
}

.fa-cogs {
  color:#F7A4B9;
  text-align:center;
  width:100%;
  margin:5% 0%;
}